.backgroundOne {
  background-color: #0000cc;
}
.textOne {
  color: #0000cc;
}

.backgroundTwo {
  background-color: #3300cc;
}
.textTwo {
  color: #3300cc;
}

.backgroundThree {
  background-color: #6600cc;
}
.textThree {
  color: #6600cc;
}

.backgroundFour {
  background-color: #9900cc;
}
.textFour {
  color: #9900cc;
}

.backgroundFive {
  background-color: #cc00cc;
}
.textFive {
  color: #cc00cc;
}
